:root {
    --background: #000000;
    --foreground: #d9d9d9;
    --dimmed: #242424;
    --primary: #d9d9d9;
    --secondary: var(--primary);

    --default-margin: 1.5rem;
    --default-padding: 1rem;
    --border-radius: 0.2rem;

    --font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
    --monospace: Menlo, Consolas, Monaco, Liberation Mono, Lucida Console, monospace;

    --size-h1: 1.5rem;
    --size-h2: 1.25rem;
    --size-h3: 1.125rem;

}

html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    color-scheme: dark;
}

body {
    font-family: var(--font-family);
    font-size: 16px;
    background-color: var(--background);
    color: var(--foreground);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header, footer {
    color: var(--foreground);
    display: flex;
    align-items: center;
    padding-top: var(--default-padding);
    margin: 0 auto;
}

footer {
    padding-bottom: var(--default-padding);
}

article {
    max-width: 80ch;
    align-items: left;
    text-align: left;
    padding-top: 0;
    padding-bottom: var(--default-padding);
    flex: 1;
    border-top: 0.1rem solid var(--dimmed);
    border-bottom: 0.1rem solid var(--dimmed);
    margin: 0.5rem 0rem;
}

@media only screen and (max-width:768px) {
    article {
        width: 94%;
        padding: 0;
        padding-bottom: var(--default-padding);
    }
}

h1, h2, h3 {
    color: var(--secondary);
    padding-top: var(--default-padding);
    text-decoration-line: underline;
    text-decoration-color: var(--primary);
}


h1 {
    font-size: var(--size-h1);
}

h2 {
    font-size: var(--size-h2);
}

h3 {
    font-size: var(--size-h3);
}

del {
    color: var(--foreground);
}

pre {
    border: 0.1rem solid var(--dimmed);
    border-radius: var(--border-radius);
    padding: var(--default-padding);
    overflow-x: auto;
    margin-top: var(--default-margin);
}

blockquote {
    margin-top: var(--default-margin);
    padding-left: var(--default-padding);
    border-left: 0.25rem solid var(--dimmed);
}

blockquote > p {
    padding-top: 0;
}

code {
    font-family: var(--monospace);
    background-color: var(--dimmed);
    border-radius: var(--border-radius);
    padding: 0.2rem;
}

pre > code {
    background-color: unset;
    padding: unset;
}

hr {
    border: 0.1rem solid var(--dimmed);
    border-radius: var(--border-radius);
    margin: 0.5rem 0rem;
}

table {
    border: solid var(--dimmed);
    border-radius: var(--border-radius);
    margin-top: var(--default-margin);
    padding: var(--default-padding);
    overflow-x: auto;
    display: inherit;
}

a {
    color: var(--foreground);
    text-decoration: underline;
    text-decoration-color: var(--secondary);
}

a:hover {
    text-decoration-color: var(--primary);
}

*,
:after,
:before {
    box-sizing: border-box;
    margin: 0
}

li {
    padding-top: var(--default-padding);
}

p {
    line-height: 1.5;
    padding-top: var(--default-padding);
}

.home-table {
    margin: 0;
    padding-bottom: var(--default-padding);
    padding-left: 0;
    border: none;
}

.home-td {
    padding-bottom: var(--default-padding);
    vertical-align: top;
}

.home-td.date {
    width: 10ch;
}

.home-td > a {
    text-decoration: none;
}

.ghosty {
    font-size: 2em;
}

.ghosty:hover {
    opacity: 0.5
}

.icon {
    height: 1.5em;
    width: 3em;
    vertical-align: bottom;
}

.link {
    color: var(--foreground);
}

.link:hover {
    color: var(--secondary);
}
