{{ define "base" }}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ .Title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta data-hid="description" name="description" content="Blog">
  <link rel="icon" type="image/x-icon" href="/favicon.ico">

  <link rel="preload" href="/style.css" as="style" type="text/css">
  <link rel="preload" href="/ghosty.svg" as="image" type="image/svg+xml">

  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <a href="/" style="text-decoration:none" aria-label="home">
      <img src="/ghosty.svg" class="ghosty icon" alt="">
    </a>
  </header>

  <article>
    {{ template "body" . }}
  </article>
  </div>

  <footer>
    {{ $length := len .Links.Profiles }}
    {{ if ne $length 0 }}
    <span class="links">
      {{ range .Links.Profiles }}
      <span class="link">
        <a href="{{ .Link }}" target="_blank" rel="me" style="text-decoration:none" aria-label="{{ .Title }}">
          <svg width="16" height="16" fill="currentColor" class="link icon" viewBox="0 0 16 16">
            {{ .SVGSource }}
          </svg>
        </a>
      </span>
      {{ end }}
    </span>
    {{ end }}
  </footer>
</body>
</html>
{{ end }}
