{{ define "body" }}

{{ $length := len .BlogItems }}
{{ if ne $length 0 }}

<h2>posts</h2>
<table class="home-table">
  <tbody>
    {{ range .BlogItems }}
    <tr class="home-tr">
      <td class="home-td date"><time>{{ .FormatDate }}</time></td>
      <td class="home-td"><a href="{{ .Path }}">{{ .Metadata.Title }}</a></td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}

{{ $length := len .Links.External }}
{{ if ne $length 0 }}
<h2>publications</h2>
<table class="home-table">
  <tbody>
    {{ range .Links.External }}
    <tr class="home-tr">
      <td class="home-td date"><time>{{ .FormatDate }}</time></td>
      <td class="home-td"><a href="{{ .Link }}" target="_blank">{{ .Title }}</a></td>
    </tr>
    {{ end }}
  </tbody>
</table>
{{ end }}

{{ end }}
